		</div>
	</div>

	<div>
		<!-- Site footer -->
		<footer id="footer">
			<div class="container text-center">
				<div class="row align-items-start">
					<div class="col">
						<h6>PRODUCTS</h6>
						<!-- <a>Order Management</a>
						<a>Delivery</a>
						<a>Menu Management</a> -->
					</div>
					<div class="col">
						<h6>COMPANY</h6>
						<!-- <a>About Us</a>
						<a>Careers</a>
						<a>Login</a> -->
					</div>
					<div class="col">
						<h6>CONTACT</h6>
					</div>
				</div>
			</div>
			<hr class="divider">
			<div class="copyright-text">Unifity &copy;
				<script type="text/javascript">var year = new Date(); document.write(year.getFullYear());</script>
			</div>
		</footer>
		
	</div>
</body>

</html>



