<!DOCTYPE html>
<html lang="en">
<head>
     <!-- CSS link (loading Semantic UI from a CDN) -->
     <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css" integrity="sha512-8bHTC73gkZ7rZ7vpqUQThUDhqcNFyYi2xgDgPDHc+GXVGHXq+xPjynxIopALmOPqzo9JZj0k6OqqewdGO3EsrQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />

     <meta charset="UTF-8">
     <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
     <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
     <title>Unifity | Delivery and Order Management System</title>

     <style rel="stylesheet" type="text/css" href="../style/style.css"></style>
     <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>

</head>
<body>

     <div class="ui inverted vertical masthead center aligned segment">

          <div class="ui container">
               <div class="ui large secondary inverted pointing menu">
                    <a class="active item" href="/">Home</a>
                    <!-- <a class="item">Sample 1</a> -->
                    <div class="right item">
                         <a class="ui inverted button" href="/login">Log in</a>
                         <a style="margin-left: 5px" class="ui inverted button" href="/sign-up">Sign Up</a>
                    </div>
               </div>
          </div>