<%- include('../partials/dashboard-header'); %>

    <main>
        <div class="ui segment">
            <h1>Deliveries</h1> 
            <%- message %>

            <div class="ui inverted vertical pointing menu">
                <a class="item" href="/account">Account</a>
                <a class="item" href="/orders">Orders</a>
                <a class="item active" href="/deliveries">Deliveries</a>
                <a class="item" href="/settings">Settings</a>
            </div>
        </div>
    </main>

    <footer >
        <%- include('../partials/footer'); %>
    </footer>

    </body> 
</html>