<%- include('../partials/dashboard-header'); %>

    <nav class="navbar navbar-expand-lg navbar-dark bg-dark" aria-label="navbar">
        <div class="container">
            <!-- <a class="navbar-brand" href="#">Container</a>      This is where the logo goes.-->
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarsExample07"
                aria-controls="navbarsExample07" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarsExample07">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link" aria-current="page" href="/dashboard">Dasboard</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="/orders">Orders</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" aria-current="page" href="/deliveries">Deliveries</a>
                    </li>
                </ul>
                <div class="nav-item dropdown" style="padding-right: 20px;">
                    <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false"
                        style=color:white;>
                        <i class="large user circle icon"></i>
                        <% if (user) { %>
                            <i>
                                <%= user.firstName %>
                            </i>
                        <% } %>
                    </a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="/profile">Profile</a></li>
                        <li><a class="dropdown-item" href="/settings">Settings</a></li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>
                        <li><a class="dropdown-item" href="/logout">Logout</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </nav>

    <body>

        <main>
            <div class="ui segment">
                <h1>Orders</h1>
                <%- message %>

                    <div class="'ui grid">
                        <div class="six wide column">
                            <table class="ui striped table">
                                <thead>
                                    <tr>
                                        <th>Name</th>
                                        <th>Date Joined</th>
                                        <th>E-mail</th>
                                        <th>Called</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>John Lilki</td>
                                        <td>September 14, 2013</td>
                                        <td>jhlilk22@yahoo.com</td>
                                        <td>No</td>
                                    </tr>
                                    <tr>
                                        <td>Jamie Harington</td>
                                        <td>January 11, 2014</td>
                                        <td>jamieharingonton@yahoo.com</td>
                                        <td>Yes</td>
                                    </tr>
                                    <tr>
                                        <td>Jill Lewis</td>
                                        <td>May 11, 2014</td>
                                        <td>jilsewris22@yahoo.com</td>
                                        <td>Yes</td>
                                    </tr>
                                    <tr>
                                        <td>John Lilki</td>
                                        <td>September 14, 2013</td>
                                        <td>jhlilk22@yahoo.com</td>
                                        <td>No</td>
                                    </tr>
                                    <tr>
                                        <td>John Lilki</td>
                                        <td>September 14, 2013</td>
                                        <td>jhlilk22@yahoo.com</td>
                                        <td>No</td>
                                    </tr>
                                    <tr>
                                        <td>Jamie Harington</td>
                                        <td>January 11, 2014</td>
                                        <td>jamieharingonton@yahoo.com</td>
                                        <td>Yes</td>
                                    </tr>
                                    <tr>
                                        <td>Jill Lewis</td>
                                        <td>May 11, 2014</td>
                                        <td>jilsewris22@yahoo.com</td>
                                        <td>Yes</td>
                                    </tr>
                                    <tr>
                                        <td>John Lilki</td>
                                        <td>September 14, 2013</td>
                                        <td>jhlilk22@yahoo.com</td>
                                        <td>No</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
            </div>
        </main>

<%- include('../partials/footer'); %>