<%- include('partials/dashboard-header'); %>

    <main>
        <div class="ui segment">
            <h1>Dashboard</h1> 
            <%- message %>

            <div class="ui secondary vertical pointing menu">
                <a class="item active">
                    Home
                </a>
                <a class="item">
                    Messages
                </a>
                <a class="item">
                    Friends
                </a>
            </div>
            
        </div>
    </main>
   
   <footer >
     <%- include('partials/footer'); %>
   </footer>
   
    </body> 
</html>