<%- include('partials/header'); %>

            <main>
                <div class="ui segment">
                    <h1>Homepage</h1> 
                    <%- message %>
                </div>
            </main>

<%- include('partials/footer'); %>
