<%- include('partials/header'); %>
    <main>
        <h1 class="head-text">Welcome Back</h1>

        <h3 class="head-subtext">Login to your account</h3>

        <div class="login-form">
            <form method="post" action="/login">
                <div class="form-floating mb-3">
                    <input type="email" name="email" class="form-control" id="floatingInput"
                        aria-describedby="emailHelp">
                    <label for="floatingInput">Email address</label>
                </div>
                <div class="form-floating mb-3">
                    <input type="password" name="password" class="form-control" id="floatingPassword">
                    <label for="floatingPassword">Password</label>
                </div>
                <div class="d-grid gap-2">
                    <button type="submit" class="btn btn-dark">Login</button>
                </div>
            </form>
        </div>

        <div class="ui message login-message">
            <a> New to us? </a><a href="/sign-up">Sign Up</a>
        </div>
        <br>
        <%- message %>
    </main>

<%- include('partials/footer'); %>