<%- include('partials/header'); %>
<main>
    <h1 class="head-text">Sign Up Form</h1>

    <div class="login-form">
        <form method="post" action="/sign-up">
            <div class="form-floating mb-3">
                <input type="text" name="firstName" class="form-control" id="firstName" aria-describedby="firstName">
                <label for="lastName">First Name</label>
            </div>
            <div class="form-floating mb-3">
                <input type="text" name="lastName" class="form-control" id="lastName" aria-describedby="lastName">
                <label for="lastName">Last Name</label>
            </div>
            <div class="form-floating mb-3">
                <input type="email" name="email" class="form-control" id="floatingInput" aria-describedby="emailHelp">
                <label for="floatingInput">Email address</label>
            </div>
            <div class="form-floating mb-3">
                <input type="password" name="password" class="form-control" id="floatingPassword" onkeyup=check()>
                <label for="floatingPassword">Password</label>
            </div>
            <div class="form-floating mb-3">
                <input type="password" name="confirmPassword" class="form-control" id="confirmPassword" onkeyup=check()>
                <label for="confirmPassword">Confirm Password</label>
                <span id='message'></span>
            </div>
            <div class="d-grid gap-2">
                <button type="submit" class="btn btn-dark">Sign Up</button>
            </div>
        </form>
    </div>
    <%- message %>
</main>

<script>
    let check = function () {
        if (document.getElementById('floatingPassword').value ==
            document.getElementById('confirmPassword').value) {
            document.getElementById('message').style.color = 'green';
            document.getElementById('message').innerHTML = 'Matching';
        } else {
            document.getElementById('message').style.color = 'red';
            document.getElementById('message').innerHTML = 'Not Matching';
        }
    }
</script>

<%- include('partials/footer'); %>